@import 'variables';

.nav-bar {
  color: $nav;
  text-align: left;
  margin-left: 15px;
  margin-top: 10px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 90%;
  height: 60px;
  background-color: $footer;
  color: $white;
  font-weight: lighter;
  text-align: center;
  padding: 15px;
  border-radius: 2px;
}
