.nav-bar {
  color: #8f1894;
  text-align: left;
  margin-left: 15px;
  margin-top: 10px; }

.footer {
  position: absolute;
  bottom: 0px;
  width: 90%;
  height: 60px;
  background-color: #60496a;
  color: white;
  font-weight: lighter;
  text-align: center;
  padding: 15px;
  border-radius: 2px; }

.search-bar {
  padding: 20px; }

.search-bar input {
  width: 100%; }

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px; }

.list-group-item {
  cursor: pointer;
  padding-bottom: 20px; }

.list-group-item:hover {
  background-color: #eee; }

.video-item img {
  max-width: 64px; }

.list-group {
  padding-bottom: 20px;
  top: 0px; }
